body {
    background: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
}
p {
    /* Apply styles to all <p> elements */
    font-size: 20px;
    line-height: 1.5;
    
}


.nav-menu {
    align-items: center;
    font-size: 2vm;
}

* {
    box-sizing: border-box;
   }
   

nav {
    text-align: center; 
     text-decoration: none;
        color: #6495ed; /* Змінюється колір тексту посилань */
        margin: 0 10px;
}

    nav a {
        text-decoration: none;
        color: #6495ed; /* колір тексту посилань */
        margin: 0 10px; /* відступ між посиланнями */
    }

        nav a:hover {
            color: #cc3300; /* Змінюється колір тексту посилань при наведенні мишки */
        }

    .main-class {
    box-sizing:border-box;
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    width: 100%;
    float: right;
    }

          
    #id1{
        color:blue;
        height: max(200px, 50%);
       }
       

    p b {
        font-size: 20px;
        color: #387dff;
        }

        p > b {
    
       font-size: min(2vw, 24px);
        color: rgb(255, 74, 152);
       }
    .myphoto {
        position: left;
    }
    #id1{
        color:rgb(106, 255, 0);
        height: max(200px, 50%);
       } 

    .span-p {
        color:#cc3300
    }

    aside {
    size:0vw;
    float:right;
    box-sizing: border-box;
  
}


.contacts-style {
    color:#6495ed;
}



/* for mobile screens*/
@media screen {
    
}
[class*="col-"] {
    float: left;
    padding: 15px;
   
}

/*desktop screens*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


footer {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-class {
    flex: 1;
}


.my-info {
    min-height: calc(100% - 80px); /* Adjust the value to match footer's height */
    padding: 20px;
    background-color: #F8F8F8; /* Background color for "my-info" */
}


footer {
        color: #000000; 
    padding: 20px;
    text-align: center;
}

.social-media {
    color:#6495ed;
}

[type="button"] {
    background-color: lightyellow;
    width:100px;
    }
    [type="submit"] {
    background-color: lightgreen;
   }
   
   p, b {
    color:rgb(106, 255, 0)
   }